.about-me-pic {
  display: block;
  border-radius: 50%;
  height: auto;
  width: 250px;
}

#spawn-instance-instructions + ol {
  display: none;
}

#spawn-instance-instructions:target + ol {
  display: block;
}
